.main-box {
    display: block;
}

.header {
    position: relative;
    
}

.header-img {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    
}
 .header-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
 }

.text-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text {
    color: white;
    font-size: 36px;
    line-height: 64px;
}

.header-btn {
    background-color: #d2d2d2;
    border: 1px;
    border-style: solid;
    padding: 10px;
    width: 150px;
    color: black;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.15s;
}
.header-btn:hover {
    background-color: #e4e4e4;
}
.header-btn:active {
    background-color: #ffffff;
}

.blog-section {
    position: relative;
}
.blog-bg-color {
    background-color: #EEE;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.blog-title {
    display: flex;
    justify-content: center;
}
.blog-title p {
    font-size: 36px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 70px;
}
.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 70px;
    
    
}
.posts-grid {
    font-family: Inknut Antiqua;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    margin-bottom: 50px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;  
}
.post-date p {
    color: gray;
}
.post-title p {
    font-size: 20px;
}
.post-author p {
    color: gray;
}

.salaries-section {
   display: flex;
   height: 90vh;
}

.salaries-img-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.salaries-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.img-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.salaries-tit-descr {
    position: absolute;
    display: block;
    width: 100%;
    line-height: 0px;
    margin-top: 50px;
}
.salaries-title {
    font-size: 36px;
    text-align: center;
    color: white;
}
.salaries-description {
    text-align: center;
    color: gray;
}
.salaries-grid {
    
    display: grid;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 200px;
    margin-bottom: 0;
   
}
.salaries-box {
    font-family: Inknut Antiqua;
    display: flex;
    color: white;
    border: 3px solid #505050;
    height: 350px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
}
.salaries-box-title {
    font-size: 24px;
}

.salaries-circle {
    display: flex;
    width: 100px;
    height: 100px;
    border: 3px solid #505050;
    border-radius: 100px;
    align-items: center;
    justify-content: space-around;
}
.salaries-circle p {
    font-size: 24px;
}
.salaries-li{
    height: 50px;
}

.staff-section {
    display: flex;
    position: relative;
    background-color: #EEE;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.staff-t-d {
    margin-top: 70px;
    line-height: 0;
    width: 100%;
}
.staff-title {
    color: black;
    font-size: 36px;
}
.staff-description {
    color: gray;
}
.staff-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.staff-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    line-height: 0;
    margin-bottom: 70px;
}
.staff-box p {
    color: gray;
    margin-bottom: 5px;
}
.staff-avatar {
    width: 300px;
}
.footer-section {
    position: relative;
    display: flex;
    
}
.footer-img-bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    filter: blur(3px);
}
.footer-img-bg-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    

}
.footer-contact {
    width: 100px;
    position: absolute;
    flex-direction: column;
    text-align: left;
    color: white;
    right: 10%;
}
.footer-copyright {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: white;
    line-height: 0;
}
.developer {
    display: flex;
    position: absolute;
    color: black;
    width: 120px;
    right: 1%;
    bottom: 5px;
    line-height: 0;
    
}
.developer:hover {
    color: red;
    transition:0.15s
}
