.container {
    display: block;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    background-color: lightslategrey;
    opacity: 0.5;
}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 5px;
    border: 0;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}
.admin-panel, .admin-panel:visited, a, a:visited {
    text-decoration: none;
    color: inherit;
}
.logout-btn, .logout-btn:visited {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: inherit;
}
.middle-section {
    display: flex;
    position: relative;
}
.left-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 200px;
    height: 500px;
    justify-content: start;
    padding: 5px;
    padding-top: 10px;
    border: 0;
    border-right: 2px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}

.left-bar button {
    width: 180px;
    height: 30px;
    border-radius: 20px;
    border:0;
    color: white;
    font-size: 18px;
    background-color: rgb(158, 110, 42);
    cursor: pointer;
    margin-bottom: 10px;
}

.left-bar button:hover {
    background-color: rgb(158, 110, 42, .8);
    transition: 0.15s;
}

.left-bar button:active {
    background-color: rgb(158, 110, 42, .6);

}
.content-class {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    opacity: 0.8;
    justify-content: left;
    width: 100%;
    padding: 20px;
}
.content-class li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
}
.content-class h1 button {
    vertical-align: middle;
}
.content-class ol button {
   width: 30%;
   vertical-align: top;
   display: inline-block;
   text-align: center;
   margin-left: 20px;
}

.search-class {
    width: 50%;
    height: auto;
    border-radius: 25px;
    border-style: solid;
    height: 15px;
    padding: 10px;
    border-color: rgb(158, 110, 42);
}
.footer-section {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
}
